body{
    background-color: #24353f;
}
h1{
    color: #17a2b8;
}
input{
    background-color: transparent !important;
    color: #ced4da !important;
}
input::placeholder{
    color: #ced4da !important;
}
button{
    background-color: transparent;
    border-color: #17a2b8;
    color: #17a2b8;
}
p{
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}

